/* CSS Document for Print */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300);
@page {
    margin: .5cm;
}

body {
    color: #000;
    font-family: Georgia, "Time New Roman", Times, serif;
    font-size: 12pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

p {
    margin: 0 0 1em 0;
    font-size: 0.9em;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:link::after,
a:visited::after {
    content: " ( "attr(href)" )";
    font-style: italic;
    word-break: break-all;
}

nav {
    display: none;
}

header {
    position: relative;
}

header::after {
    content: '';
    background-image: url(../image/banner_1300_print.jpg);
    background-size: 100%;
    width: 100%;
    height: 260px;
    display: inline-block;
    background-repeat: no-repeat;
}

header a.logo {
    display: block;
    width: 145px;
    height: 60px;
    position: absolute;
    top: 45px;
    left: 100px;
}

header a.logo::before {
    content: url(../image/logo_print.svg);
}

header a.logo::after {
    display: block;
    position: absolute;
    width: 200px;
    left: 165px;
    top: 20px;
}

header div.hero a::after {
    display: block;
}

header div.hero {
    width: 75%;
    position: absolute;
    top: 140px;
    left: 100px;
}

section {
    margin-bottom: 50px;
}

section::after {
    content: '';
    clear: both;
    display: block;
}

section.main {
    margin-top: 20px;
    margin-bottom: 50px;
}

section.main aside {
    width: 33%;
    float: left;
    text-align: center;
}

section.main aside div.content {
    margin: 15px;
}

section.main aside div.content a::after {
    display: block;
    font-family: serif;
    font-weight: normal;
}

section.main aside div.content.tredding::before {
    content: url(../image/icon_star_print.svg);
}

section.main aside div.content.find-it::before {
    content: url(../image/icon_marker_print.svg);
}

section.main aside div.content.tools::before {
    content: url(../image/icon_gear_print.svg);
}
